name: Deploy Documentation

on:
  push:
    branches:
      - main
    paths:
      - 'docs-app/**'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Install dependencies
        run: bun i

      - name: Build with Next.js
        run: bun run --filter react-ol-docs build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs-app/out

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4

